# Name : ROHAN ASHOK LAKKAMPALLI
B.TECH AIML SEM2 SEC:C BATCH:C2 ROLL NO:65

# 1.READ THE GIVEN CSV FILE

In [1]:
import pandas as pd
df=pd.read_csv(" road accident data.csv")
df

,Location,Motor Car,Dual Purpose Vehicle,Lorry,Cycle,Motor Cycle/Moped,Three wheeler,"Articulated Vehicle, prime mover",SLT Bus,Private Bus,Intercity Bus,Land Vehicle/Tractor,Animal drawn vehicle or rider on animal,Other
0,Ampara,59,102,121,93,575,169,4,15,35,1,41,4,0
1,Anuradhapura,116,224,246,158,845,196,2,28,104,3,72,0,6
2,Badulla (Badulla & Bandarawela Divisions),82,121,171,20,266,219,2,58,78,1,16,0,5
3,Batticaloa,26,43,30,64,224,52,4,9,25,1,24,1,2
4,Chilaw (Chilaw & Puttalam Divisions),102,213,224,134,530,163,14,23,84,1,19,1,3
5,"Colombo (Colombo-South, North, Central, Mt. La...",4708,2675,1686,221,2835,2804,110,190,1194,4,59,0,63
6,Galle (Galle & Elpitiya Divisions),488,377,348,216,1346,586,16,73,224,3,16,0,9
7,"Gampaha (Gampaha, Negombo & Kelaniya Divisions)",2018,1688,1352,317,2598,1466,175,123,590,9,38,4,6
8,Jaffna (Jaffna & KKS Divisions),32,64,46,73,213,63,1,8,21,0,28,0,0
9,Kalutara (Kalutara & Panadura Divisions),381,398,337,226,1022,525,15,53,238,4,15,0,6
10,Kandy (Kandy & Gampola Divisions),735,637,526,29,746,895,4,148,403,4,10,1,18
11,Kegalle (Kegalle & Seethawaka Divisions),281,323,357,23,500,545,11,82,224,1,15,0,12
12,Kilinochchi (Kilinochchi & Mankulam Divisions),5,74,93,30,120,15,3,21,42,0,10,0,1
13,"Kurunegala (Kurunegala, Kuliyapitiya & Nikawer...",333,428,522,193,1349,433,16,97,218,4,35,0,17
14,Mannar,12,35,26,18,71,35,0,1,8,0,7,0,0
15,Matale,118,192,246,68,384,306,8,50,110,3,15,0,7
16,Matara,138,200,163,107,593,297,0,26,131,2,13,0,1
17,Monaragala,64,104,162,58,389,197,1,21,47,0,27,0,2
18,Mulathivu,1,6,2,9,5,0,0,0,3,0,1,0,0
19,Nuwara-Eliya (Nuwara-Eliya & Hatton Divisions),80,136,130,12,89,247,4,32,83,1,6,0,14
20,Polonnaruwa,36,92,136,63,348,95,1,18,31,1,36,0,0
21,Ratnapura,182,234,321,42,553,443,9,38,155,2,8,0,0
22,Tangalle (Tangalle Division),59,236,148,66,480,110,11,34,70,0,36,0,2
23,Trincomalee (Trincomalee & Kantale Divisions),23,72,78,63,286,129,2,12,30,0,27,3,4
24,Vavuniya,4,15,32,26,66,20,0,3,3,0,2,0,0

# 2.SET THE INDEX

In [3]:
 df.set_index('Location',inplace=True)
df.head(10)

,Motor Car,Dual Purpose Vehicle,Lorry,Cycle,Motor Cycle/Moped,Three wheeler,"Articulated Vehicle, prime mover",SLT Bus,Private Bus,Intercity Bus,Land Vehicle/Tractor,Animal drawn vehicle or rider on animal,Other
Location,,,,,,,,,,,,,
Ampara,59,102,121,93,575,169,4,15,35,1,41,4,0
Anuradhapura,116,224,246,158,845,196,2,28,104,3,72,0,6
Badulla (Badulla & Bandarawela Divisions),82,121,171,20,266,219,2,58,78,1,16,0,5
Batticaloa,26,43,30,64,224,52,4,9,25,1,24,1,2
Chilaw (Chilaw & Puttalam Divisions),102,213,224,134,530,163,14,23,84,1,19,1,3
"Colombo (Colombo-South, North, Central, Mt. Lavinia & Nugegoda Divisions)",4708,2675,1686,221,2835,2804,110,190,1194,4,59,0,63
Galle (Galle & Elpitiya Divisions),488,377,348,216,1346,586,16,73,224,3,16,0,9
"Gampaha (Gampaha, Negombo & Kelaniya Divisions)",2018,1688,1352,317,2598,1466,175,123,590,9,38,4,6
Jaffna (Jaffna & KKS Divisions),32,64,46,73,213,63,1,8,21,0,28,0,0
Kalutara (Kalutara & Panadura Divisions),381,398,337,226,1022,525,15,53,238,4,15,0,6

# 3.WRITE THE CODE TO DISPLAY THE FOLLOWING OUTPUT

1. MULTIPLE COLUMNS

In [4]:
MotorCarAndCycle_Data=df[["Motor Car","Cycle"]]
MotorCarAndCycle_Data

                                                    Motor Car  Cycle
Location
Ampara                                                     59     93
Anuradhapura                                              116    158
Badulla (Badulla & Bandarawela Divisions)                  82     20
Batticaloa                                                 26     64
Chilaw (Chilaw & Puttalam Divisions)                      102    134
Colombo (Colombo-South, North, Central, Mt. Lav...       4708    221
Galle (Galle & Elpitiya Divisions)                        488    216
Gampaha (Gampaha, Negombo & Kelaniya Divisions)          2018    317
Jaffna (Jaffna & KKS Divisions)                            32     73
Kalutara (Kalutara & Panadura Divisions)                  381    226
Kandy (Kandy & Gampola Divisions)                         735     29
Kegalle (Kegalle & Seethawaka Divisions)                  281     23
Kilinochchi (Kilinochchi & Mankulam Divisions)              5     30
Kurunegala (Kurunegala, Kuliyapitiya & Nikawera...        333    193
Mannar                                                     12     18
Matale                                                    118     68
Matara                                                    138    107
Monaragala                                                 64     58
Mulathivu                                                   1      9
Nuwara-Eliya (Nuwara-Eliya & Hatton Divisions)             80     12
Polonnaruwa                                                36     63
Ratnapura                                                 182     42
Tangalle (Tangalle Division)                               59     66
Trincomalee (Trincomalee & Kantale Divisions)              23     63
Vavuniya                                                    4     26

2. MULTIPLE ROWS

In [6]:
AmparaAndAnuradhapura_Data=df.loc[["Amparad","Anuradhapura"]]
AmparaAndAnuradhapura_Data

,Motor Car,Dual Purpose Vehicle,Lorry,Cycle,Motor Cycle/Moped,Three wheeler,"Articulated Vehicle, prime mover",SLT Bus,Private Bus,Intercity Bus,Land Vehicle/Tractor,Animal drawn vehicle or rider on animal,Other
Location,,,,,,,,,,,,,
Ampara,59,102,121,93,575,169,4,15,35,1,41,4,0
Anuradhapura,116,224,246,158,845,196,2,28,104,3,72,0,6

3. MULTIPLE ROWS AND MULTIPLE COLUMNS

In [8]:
df.loc[["Ampara","Mannar","Matara",],["Lorry","Cycle"]]

          Lorry  Cycle
Location
Ampara      121     93
Mannar       26     18
Matara      163    107

4. ALL THE ROWS AND SOME COLUMNS

In [10]:
df.loc[:,["SLT Bus","Private Bus","Intercity Bus"]]

,SLT Bus,Private Bus,Intercity Bus
Location,,,
Ampara,15,35,1
Anuradhapura,28,104,3
Badulla (Badulla & Bandarawela Divisions),58,78,1
Batticaloa,9,25,1
Chilaw (Chilaw & Puttalam Divisions),23,84,1
"Colombo (Colombo-South, North, Central, Mt. Lavinia & Nugegoda Divisions)",190,1194,4
Galle (Galle & Elpitiya Divisions),73,224,3
"Gampaha (Gampaha, Negombo & Kelaniya Divisions)",123,590,9
Jaffna (Jaffna & KKS Divisions),8,21,0
Kalutara (Kalutara & Panadura Divisions),53,238,4
Kandy (Kandy & Gampola Divisions),148,403,4
Kegalle (Kegalle & Seethawaka Divisions),82,224,1
Kilinochchi (Kilinochchi & Mankulam Divisions),21,42,0
"Kurunegala (Kurunegala, Kuliyapitiya & Nikaweratiya Divisions)",97,218,4
Mannar,1,8,0
Matale,50,110,3
Matara,26,131,2
Monaragala,21,47,0
Mulathivu,0,3,0
Nuwara-Eliya (Nuwara-Eliya & Hatton Divisions),32,83,1
Polonnaruwa,18,31,1
Ratnapura,38,155,2
Tangalle (Tangalle Division),34,70,0
Trincomalee (Trincomalee & Kantale Divisions),12,30,0
Vavuniya,3,3,0

5. SOME ROWS AND ALL THE COLUMNS

In [12]:
df.loc[["Polonnaruwa","Ratnapura","Vavuniya"],:]

,Motor Car,Dual Purpose Vehicle,Lorry,Cycle,Motor Cycle/Moped,Three wheeler,"Articulated Vehicle, prime mover",SLT Bus,Private Bus,Intercity Bus,Land Vehicle/Tractor,Animal drawn vehicle or rider on animal,Other
Location,,,,,,,,,,,,,
Polonnaruwa,36,92,136,63,348,95,1,18,31,1,36,0,0
Ratnapura,182,234,321,42,553,443,9,38,155,2,8,0,0
Vavuniya,4,15,32,26,66,20,0,3,3,0,2,0,0